@import 'tailwindcss';

@utility page {
  @apply min-h-screen w-screen;
}

@theme colors {
  /* Background */
  --color-background-light: var(--color-slate-100);
  --color-background-dark: var(--color-slate-900);

  /* Foreground */
  --color-foreground-light: var(--color-slate-900);
  --color-foreground-dark: var(--color-slate-100);

  /* Accent */
  --color-accent-medium: var(--color-violet-400); /* default tone */


  /* Dreamer UI */
  /* colors */
  --color-primary: var(--color-violet-400);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-violet-200);
  --color-secondary-foreground: var(--color-black);
  --color-danger: var(--color-red-500);
  --color-danger-foreground: var(--color-white);
  --color-muted: var(--color-gray-200);
  --color-muted-foreground: var(--color-gray-800);
  
}

@layer base {
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-background-light text-foreground-light transition-colors duration-300 dark:bg-background-dark dark:text-foreground-dark;
  }

  p {
    @apply font-light 2xl:text-lg;
  }

  small {
    @apply font-light opacity-70 2xl:text-base;
  }

  /* Heading styles */
  h1 {
    @apply text-5xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold 2xl:text-2xl;
  }
  h3 {
    @apply text-2xl font-medium 2xl:text-xl;
  }
  h4 {
    @apply text-xl font-medium;
  }
}
